# YDB (обязательно)
YDB_CONNECTION_STRING=grpc://localhost:2136/local
# или для Yandex Cloud: grpcs://ydb.serverless.yandexcloud.net:2135/ru-central1/<folder-id>/<database-id>

# Сервер
APP_HOST=0.0.0.0
APP_PORT=8080

# Telegram-бот
TG_API_TOKEN=<your_bot_token>
TG_ADMIN_USERNAME=zhimbura
