<!--<configuration>-->
<!--    <property name="enableLogs" value="${ENABLE_LOGS:-true}"/>-->
<!--    <property name="stand" value="${NOTIFIER_STAND:-LOCAL}"/>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
<!--        <encoder>-->
<!--            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/all.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>logs/all.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <maxHistory>2</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <if condition='property("enableLogs").contains("true")'>-->
<!--        <then>-->
<!--            <if condition='property("stand").contains("PROD")'>-->
<!--                <then>-->
<!--                    <root level="INFO">-->
<!--                        <appender-ref ref="FILE_ALL"/>-->
<!--                    </root>-->
<!--                </then>-->
<!--                <else>-->
<!--                    <root level="ALL">-->
<!--                        <appender-ref ref="STDOUT"/>-->
<!--                    </root>-->
<!--                </else>-->
<!--            </if>-->
<!--        </then>-->
<!--        <else>-->
<!--            <root level="OFF"/>-->
<!--        </else>-->
<!--    </if>-->

<!--    <logger name="org.eclipse.jetty" level="INFO"/>-->
<!--    <logger name="io.netty" level="INFO"/>-->
<!--</configuration>-->

<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
